FIRECRAWL_PORT=3002
FIRECRAWL_USE_DB_AUTHENTICATION=false
FIRECRAWL_BULL_AUTH_KEY=CHANGEME
FIRECRAWL_TEST_API_KEY=
FIRECRAWL_OPENAI_API_KEY=
FIRECRAWL_OPENAI_BASE_URL=
FIRECRAWL_MODEL_NAME=
FIRECRAWL_MODEL_EMBEDDING_NAME=
FIRECRAWL_OLLAMA_BASE_URL=
FIRECRAWL_PROXY_SERVER=
FIRECRAWL_PROXY_USERNAME=
FIRECRAWL_PROXY_PASSWORD=
FIRECRAWL_SEARXNG_ENDPOINT=
FIRECRAWL_SEARXNG_ENGINES=
FIRECRAWL_SEARXNG_CATEGORIES=
FIRECRAWL_ALLOW_LOCAL_WEBHOOKS=true
FIRECRAWL_BLOCK_MEDIA=
FIRECRAWL_CRAWL_CONCURRENT_REQUESTS=10
FIRECRAWL_POSTGRES_USER=postgres
FIRECRAWL_POSTGRES_PASSWORD=postgres
FIRECRAWL_POSTGRES_DB=postgres
