# Generated values can be created automatically with:
# ./scripts/sync-compose-env.sh

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SERVER_ROOT_URL=http://127.0.0.1:3400
POSTGRES_HOST=postgres:5432
POSTGRES_DB=trading_bot
POSTGRES_USER=botuser
POSTGRES_PASSWORD=botpass
